* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    color: white;
}

#index_h1_box_outline {
    outline: 10px;
    outline-color: rgb(100, 34, 43);
    outline-style: ridge;
}

#body_index {
    background: rgba(0,0,0,0.6) url("../img/cars/danny-sleeuwenhoek-H7ukvaVGPqg-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10fr 5fr 85fr;
    grid-template-areas: 
    "he he he he"
    "n1 n2 n3 n4"
    "se se se se";
}

#grid_wrapper_kontakt {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 14fr;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "n5 n6 n7 n8"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2";
}

.index_main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: se;
}

#header_index {
    grid-area: he;
    background-color: rgb(100, 34, 43);
}
#header_kontakt {
    grid-area: h1;
    background-color: rgb(100, 34, 43);
}

ul {
    color: white;
}

.nav-grid-wrapper {
    display: grid;
    border: 3px solid black;
    font-family: 'Martian Mono', monospace;
}

.nav-grid-wrapper:hover{
    background-color: antiquewhite;
}

#n1 {
    grid-area: n1;
    text-align: center;
}

#n2 {
    grid-area: n2;
    text-align: center;
}

#n3 {
    grid-area: n3;
    text-align: center;
}

#n4 {
    grid-area: n4;
    text-align: center;
}
#n5 {
    grid-area: n5;
    text-align: center;
}

#n6 {
    grid-area: n6;
    text-align: center;
}

#n7 {
    grid-area: n7;
    text-align: center;
}

#n8 {
    grid-area: n8;
    text-align: center;
}

#body_meny {
    background-color: darkgrey;
}

#body_kontakt {
    background-color: darkgrey;
}

#section_top_kontakt  {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s1;
}
.container {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    grid-area: s2;
}

.card {
    background-color: blanchedalmond;
    width: 280px;
    height: 400px;
    margin: 10px;
}

.card_image {
    background-color: blueviolet;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}

.car-1 {
    background-image: url("/img/cars/card-car-silvia.jpg");
}

.car-2 {
    background-image: url("/img/cars/card-car-r34.jpg");
}
.car-3 {
    background-image: url("/img/cars/card-car-skyline.jpg");
}
